In [76]:
import numpy as np
import pandas as pd

In [37]:
# KOR to ENG
kor_dict = {
    "품명": "Product Name",
    "번호": "Number",
    "과장": "Fruit vertical length",
    "과폭": "Fruit horizontal length",
    "과중": "Fruit weight",
    "경도": "Hardness",
    "당도": "Sweetness",
    "산도": "Acidity",
    "죽향 (실온)": "Jukhyang  (Room Temperature)",
    "죽향 (저장)": "Jukhyang  (Storage)",
    "메리퀸": "Maryqueen",
    "색 착 계": "Color",
    "비고": "Remarks"
}

In [57]:
# Section translated to number
section_dict = {
    "①": 1,
    "②": 2,
    "③": 3,
    "④": 4,
    "⑤": 5,
    "⑥": 6
}

In [3]:
excel_file = 'fruitSM2.xlsx'

In [4]:
xls = pd.ExcelFile(excel_file)

In [5]:
# list all sheet names
xls.sheet_names

['구역별 무게',
 '품종별 무게_종합_1211',
 '품종별 평균',
 '메리퀸',
 '죽향',
 '항목별 비교',
 '메리퀸 ,죽향(1출뢰)',
 '메리퀸,죽향(2출뢰)',
 '메리퀸,죽향(3출뢰)',
 '메리퀸,죽향(4출뢰)',
 '메리퀸,죽향(5출뢰)',
 '화방별-과번호별 비교',
 '메리퀸,죽향(6출뢰)',
 '메리퀸,죽향(7출뢰) ',
 '24.6.24',
 '24.07.01',
 '24.07.10',
 '24.07.15',
 '24.07.22',
 '24.07.29',
 '24.08.05',
 '24.08.12',
 '24.08.19',
 '24.08.26',
 '24.08.30',
 '24.09.02',
 '24.09.06',
 '24.09.09',
 '24.09.13',
 '24.09.19',
 '24.09.23',
 '24.09.27',
 '24.10.04',
 '24.10.07',
 '24.10.11',
 '24.10.14',
 '24.10.18',
 '24.10.21',
 '24.10.25',
 '24.10.28',
 '24.11.01',
 '24.11.04',
 '24.11.08',
 '24.11.11',
 '24.11.15',
 '24.11.19',
 '24.11.22',
 '24.11.25',
 '24.11.29',
 '24.12.02',
 '24.12.06',
 'Sheet2',
 'Sheet4',
 'Sheet1']

In [22]:
# get only sheets with format: '24.10.14' as year.month.day, then sort them
sheets = [sheet for sheet in xls.sheet_names if sheet[0].isdigit()]
sheets.sort()
sheets

['24.07.01',
 '24.07.10',
 '24.07.15',
 '24.07.22',
 '24.07.29',
 '24.08.05',
 '24.08.12',
 '24.08.19',
 '24.08.26',
 '24.08.30',
 '24.09.02',
 '24.09.06',
 '24.09.09',
 '24.09.13',
 '24.09.19',
 '24.09.23',
 '24.09.27',
 '24.10.04',
 '24.10.07',
 '24.10.11',
 '24.10.14',
 '24.10.18',
 '24.10.21',
 '24.10.25',
 '24.10.28',
 '24.11.01',
 '24.11.04',
 '24.11.08',
 '24.11.11',
 '24.11.15',
 '24.11.19',
 '24.11.22',
 '24.11.25',
 '24.11.29',
 '24.12.02',
 '24.12.06',
 '24.6.24']

In [9]:
# # export all sheets to excel files
# path = 'fruitSM2/'
# for sheet in sheets:
#     df = pd.read_excel(xls, sheet)
#     df.to_excel(path + sheet + '.xlsx', index=False)
#

In [24]:
# read the sheet 
df = pd.read_excel(xls, sheets[0])
print(sheets[0])

24.07.01

In [30]:
date = df.columns[1].split()[-1]
date

'24.07.01'

In [80]:
df.head()

,Unnamed: 0,2동 식물 공장 과 생육 조사 (저장 실험) \n 정식: 24.04.04 조사일: 24.07.01,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,품명,번호,과장,과폭,과중,경도,당도,산도,색 착 계,NaN,NaN,비고
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,L,a,b,NaN
2,NaN,\n메리퀸,②-5,26.48,20.99,5.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,②-6,NaN,NaN,2.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,③-2,41.8,29.45,13.41,164,13.7,0.62,43.26,41.66,26.54,NaN

In [99]:
cols = df.iloc[0].tolist()[1:]
print(cols)
# translate to English
cols = [kor_dict.get(col, col) for col in cols]
en_name = '색 착 계'
cols[-4:-1] = [kor_dict[en_name] + ' L', kor_dict[en_name] + ' a', kor_dict[en_name] + ' b']
print(cols)
cols = ['Product Name', 'Section', 'Plant', 'Fruit vertical length', 'Fruit horizontal length', 'Fruit weight', 'Hardness', 'Sweetness', 'Acidity', 'Color L', 'Color a', 'Color b', 'Remarks']

['품명', '번호', '과장', '과폭', '과중', '경도', '당도', '산도', '색 착 계 ', nan, nan, '비고']
['Product Name', 'Number', 'Manager', 'Section Width', 'Section Weight', 'Hardness', 'Sweetness', 'Acidity', 'Color L', 'Color a', 'Color b', 'Remarks']

In [100]:
# new dataframe 
new_df = pd.DataFrame(columns=cols)
new_df

Empty DataFrame
Columns: [Product Name, Section, Plant, Fruit vertical length, Fruit horizontal length, Fruit weight, Hardness, Sweetness, Acidity, Color L, Color a, Color b, Remarks]
Index: []

In [101]:
product_name = np.nan
for i in range(2, len(df)):
    row = df.iloc[i].tolist()
    if pd.isnull(row[1]):
        row[0] = product_name
    else:
        # remove the /n in the product name
        row[1] = row[1].replace('\n', '')
        product_name = row[1]
    number = row[2].split('-')
    section = section_dict[number[0]]
    plant = int(number[1])
    new_row = [product_name, section, plant] + row[3:]
    new_df.loc[i-2] = new_row
new_df

,Product Name,Section,Plant,Fruit vertical length,Fruit horizontal length,Fruit weight,Hardness,Sweetness,Acidity,Color L,Color a,Color b,Remarks
0,메리퀸,2,5,26.48,20.99,5.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,메리퀸,2,6,NaN,NaN,2.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,메리퀸,3,2,41.80,29.45,13.41,164.0,13.7,0.62,43.26,41.66,26.54,NaN
3,메리퀸,3,3,34.42,27.80,9.97,157.0,10.4,0.50,44.73,41.61,28.26,NaN
4,메리퀸,3,4,34.56,26.93,9.98,205.0,10.3,0.62,46.61,41.67,30.33,NaN
5,메리퀸,4,4,NaN,NaN,4.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,메리퀸,4,5,NaN,NaN,2.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,메리퀸,5,4,NaN,NaN,5.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,죽향(실온),3,3,42.71,33.43,17.04,142.0,11.8,0.51,41.52,40.64,26.35,NaN
9,죽향(실온),4,4,39.13,28.26,13.43,157.0,11.6,0.68,38.20,40.71,21.87,NaN
10,죽향(실온),4,5,38.42,28.51,12.73,165.0,11.6,0.70,39.19,40.65,24.48,NaN
11,죽향(실온),5,4,31.12,24.95,7.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,죽향(저장),2,1,50.63,33.16,22.59,116.0,12.8,0.53,44.17,40.85,25.68,NaN
13,죽향(저장),3,1,49.24,37.33,25.83,137.0,14.4,0.53,47.66,36.58,26.80,NaN
14,죽향(저장),3,2,46.42,33.88,21.34,177.0,12.9,0.57,40.97,37.76,23.17,NaN
15,죽향(저장),4,1,47.76,34.39,24.30,231.0,12.4,0.70,41.47,40.59,24.87,NaN
16,죽향(저장),5,1,46.28,33.63,21.23,210.0,11.9,0.63,37.02,34.06,19.99,NaN

In [102]:
report_df = {}
for i in sheets:
    df = pd.read_excel(xls, i)
    date = df.columns[1].split()[-1]
    print(date)
    cols = ['Product Name', 'Section', 'Plant', 'Fruit vertical length', 'Fruit horizontal length', 'Fruit weight', 'Hardness', 'Sweetness', 'Acidity', 'Color L', 'Color a', 'Color b', 'Remarks']
    new_df = pd.DataFrame(columns=cols)
    product_name = np.nan
    for i in range(2, len(df)):
        row = df.iloc[i].tolist()
        if pd.isnull(row[1]):
            row[0] = product_name
        else:
            row[1] = row[1].replace('\n', '')
            product_name = row[1]
        number = row[2].split('-')
        section = section_dict[number[0]]
        plant = int(number[1])
        new_row = [product_name, section, plant] + row[3:]
        new_df.loc[i-2] = new_row
    report_df[date] = new_df

24.07.01
24.07.10
24.07.15
24.07.22
24.07.29
24.08.05
24.08.12
24.08.19
24.08.26
24.08.30
24.09.02
24.09.06
24.09.09
24.09.13
24.09.19
24.09.23
24.09.27
24.10.04
24.10.07
24.10.11
24.10.14
24.10.18
24.10.07
24.10.07
24.10.28
24.11.01
24.11.04
24.11.08
24.11.11
24.11.15
24.11.09
24.11.22
24.11.25
24.11.29
24.12.02
24.12.06
24.06.24

In [105]:
# export to csv files to path
path = 'fruitSM2/'
for date, df in report_df.items():
    df.to_csv(path + date + '.csv', index=False, encoding='utf-8-sig')